body {
    background-color: palegoldenrod;
}

h1, h2 {
    text-align: center;
}
table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse; width: 50%; 
    margin-right: auto; margin-left: auto;
    }
tr {
    height: 70px;
}

td {
    text-align:  center;
    height: 50px;
    vertical-align: middle;
}

td:hover, th:hover {background-color: rgb(226, 28, 28);}

tr:nth-child(even) {background-color: #d9c2e7;}
tr:nth-child(odd) {background-color: #62d9b0;}

.rospan { background-color: rgb(111, 126, 195);
}

td:active {
    color: #0000FF;
}
    
hr.list {
        background-color: rgb(181, 38, 38); 
        width: 40%; 
        height: 5px;
}

hr { 
    background-color: rgb(181, 38, 38); 
    width: 80%; 
    height: 10px;
}

p, .contact {
font-size: 18px; font-family: 'Times New Roman', Times, serif; margin-left:  10%;
}


dt{
    font-size: 26px; text-align: center; font-family: 'Times New Roman', Times, serif;
}
dd {
    font-size: 18px; text-align: center; font-family: 'Times New Roman', Times, serif;
}
.photo 
{ 
    border: 10px solid black;
    display: block;
    margin: 0 auto;
}

#bloog {
    margin-left: 10%;
    font-size: 18px;
}

.personal {
    background-color: beige;
}

.professional {
    background-color: rgb(197, 239, 241);
    
}
q{
    font-size: 18px; font-family: 'Times New Roman', Times, serif; margin-left:  8%;
}


.bdr {
    border: 10px solid palegoldenrod;
}

.About {
    background-color: antiquewhite;
}

q.personal {
    margin-left:1%;
}

i.italic {
    margin-left: 40%;
}

#special {
    border: none;
    margin-right: auto;
    margin-left: auto;
}

#special tr {
    background-color: initial;
}

#special td {
    background-color: initial;
    border: 0px;
    
}
#special img {
    border-radius: 10%;
}

a:hover {
    color: #0000FF;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}


tr:hover {
    background-color: #ffeb3b; 
}


#special img:hover {
    border: 2px solid #ff5722; 
    border-radius: 8%;
}


#bloog:hover {
    color: #4caf50; 
}
